:root {
    /*** CfgMgmt logo colors and derivatives ***/
    /* green color scale */
    --cfg-green-100: hsl(118.1, 100%, 96.3%);
    --cfg-green-200: hsl(118.1, 100%, 94.3%);
    --cfg-green-300: hsl(122.4, 77.8%, 78.8%);
    --cfg-green-400: hsl(123.2, 46%, 69.8%);
    --cfg-green-500: hsl(124.1, 38%, 59.6%);
    --cfg-green-600: hsl(123.5, 31.9%, 50.2%);
    --cfg-green-700: hsl(124.4, 40.7%, 40.2%); /* core green */
    --cfg-green-800: hsl(125, 55%, 32%);
    --cfg-green-900: hsl(126, 70%, 24%);
    --cfg-green-1000: hsl(127, 85%, 17%);
    --cfg-green-1100: hsl(128, 95%, 11%);
    --cfg-green-1200: hsl(129, 100%, 7%);
    --cfg-green-1300: hsl(130, 100%, 4%);
    --cfg-green-1400: hsl(131, 100%, 2.5%);

    /* blue color scale */
    --cfg-blue-100: hsl(214, 100%, 97.6%);
    --cfg-blue-200: hsl(214, 100%, 96.9%);
    --cfg-blue-300: hsl(214.3, 100%, 88.2%);
    --cfg-blue-400: hsl(213.8, 100%, 78.4%);
    --cfg-blue-500: hsl(214.1, 82.1%, 69.2%);
    --cfg-blue-600: hsl(213.6, 59.6%, 58.8%);
    --cfg-blue-700: hsl(213.7, 50.6%, 49%); /* core blue */
    --cfg-blue-800: hsl(212, 70%, 38%);
    --cfg-blue-900: hsl(211, 85%, 28%);
    --cfg-blue-1000: hsl(210, 95%, 20%);
    --cfg-blue-1100: hsl(209, 100%, 14%);
    --cfg-blue-1200: hsl(208, 100%, 9%);
    --cfg-blue-1300: hsl(207, 100%, 5%);
    --cfg-blue-1400: hsl(206, 100%, 3%);

    /*** CfgMgmt web colors and derivatives ***/
    /* CfgMgmt teal */
    --cfg-teal: hsl(180, 96%, 27%); /* core teal */
    --cfg-teal-light: hsl(180, 45%, 60%);
    --cfg-teal-lighter: hsl(180, 40%, 88%);
    --cfg-teal-dark: hsl(180, 90%, 15%);

    /* CfgMgmt maroon */
    --cfg-maroon: hsl(2, 71%, 30%); /* core maroon */
    --cfg-maroon-light: hsl(2, 40%, 62%);
    --cfg-maroon-lighter: hsl(2, 38%, 90%);
    --cfg-maroon-dark: hsl(2, 78%, 16%);

    /* CfgMgmt gray */
    --cfg-gray: hsl(0, 0%, 67%);
    --cfg-gray-light: hsl(0, 0%, 91%);

    /* CfgMgmt navy blue */
    --cfg-navy-blue: hsl(241, 100%, 27%);

    --cfg-ocean-green: hsl(157, 47%, 44%);

    /*** Schedule colors ***/
    /* Schedule – teal */
    --schedule-teal: hsl(184, 84%, 33%);
    --schedule-teal-light: hsl(184, 45%, 62%);
    --schedule-teal-lighter: hsl(184, 40%, 90%);
    --schedule-teal-dark: hsl(184, 90%, 18%);

    /* Schedule – deep teal */
    --schedule-deep-teal: hsl(197, 100%, 28%);
    --schedule-deep-teal-light: hsl(197, 55%, 60%);
    --schedule-deep-teal-lighter: hsl(197, 45%, 90%);
    --schedule-deep-teal-dark: hsl(197, 100%, 15%);

    /* Schedule – blue */
    --schedule-blue: hsl(200, 90%, 32%);
    --schedule-blue-light: hsl(200, 50%, 62%);
    --schedule-blue-lighter: hsl(200, 42%, 90%);
    --schedule-blue-dark: hsl(200, 95%, 18%);

    /* Schedule – navy blue */
    --schedule-navy-blue: hsl(220, 84%, 34%);
    --schedule-navy-blue-light: hsl(220, 45%, 64%);
    --schedule-navy-blue-lighter: hsl(220, 40%, 92%);
    --schedule-navy-blue-dark: hsl(220, 90%, 18%);

    /* Schedule – royal purple */
    --schedule-royal-purple: hsl(243, 66%, 62%);
    --schedule-royal-purple-light: hsl(243, 40%, 78%);
    --schedule-royal-purple-lighter: hsl(243, 38%, 92%);
    --schedule-royal-purple-dark: hsl(243, 72%, 36%);

    /* Schedule – red */
    --schedule-red: hsl(0, 61%, 44%);
    --schedule-red-light: hsl(0, 40%, 68%);
    --schedule-red-lighter: hsl(0, 38%, 92%);
    --schedule-red-dark: hsl(0, 70%, 26%);

    /* Schedule – blood red */
    --schedule-blood-red: hsl(348, 79%, 34%);
    --schedule-blood-red-light: hsl(348, 45%, 64%);
    --schedule-blood-red-lighter: hsl(348, 40%, 92%);
    --schedule-blood-red-dark: hsl(348, 85%, 18%);

    /* Schedule – lime green */
    --schedule-lime-green: hsl(66, 62%, 58%);
    --schedule-lime-green-light: hsl(66, 45%, 72%);
    --schedule-lime-green-lighter: hsl(66, 42%, 90%);
    --schedule-lime-green-dark: hsl(66, 70%, 32%);

    /* Schedule – dirty gold */
    --schedule-dirty-gold: hsl(50, 88%, 25%);
    --schedule-dirty-gold-light: hsl(50, 55%, 55%);
    --schedule-dirty-gold-lighter: hsl(50, 45%, 88%);
    --schedule-dirty-gold-dark: hsl(50, 95%, 14%);

    /* Schedule – violet */
    --schedule-violet: hsl(288, 97%, 51%);
    --schedule-violet-light: hsl(288, 55%, 72%);
    --schedule-violet-lighter: hsl(288, 45%, 92%);
    --schedule-violet-dark: hsl(288, 100%, 30%);
}
