:root,
[class*="cpd-theme-"] {
    --cpd-color-text-primary: var(--cfg-blue-800);
    /* main text color
    $primary-content
    timeline(dateseperator text)
    (video)call tray icon
    thick outline around ui component when using tab on keyboard */

    /* --cpd-color-text-secondary: var(--cfg-blue-700); */
    --cpd-color-text-secondary: var(--cfg-green-700);
    /* better to use for one shade lighter than the text color
    $secondary-content
    settings icon color at the side in rest state
    message timestamp
    (video)call icons
    color placeholder text in input fields
    text color in spotlight search tooltip */

    --cpd-color-text-disabled: var(--cfg-gray); /* disabled text in button */

    --cpd-color-text-action-primary: var(--cpd-color-gray-1400);

    --cpd-color-text-action-accent: var(--cfg-green-900);
    /*  online status indicator in room header
        thick read line above message composer
        when hovered over these ui elements, outline changes to this color:
          not selected radio buttons
          not selected checkboxes
    */

    --cpd-color-text-link-external: var(--cfg-blue-600);
    /* obvoius... link color
    also for beta badge in labs section in settings */

    --cpd-color-text-critical-primary: var(--schedule-red);

    --cpd-color-text-success-primary: var(--cpd-color-green-900);
    /* presence status in profile panel */

    --cpd-color-text-info-primary: var(--cpd-color-blue-900);

    --cpd-color-text-on-solid-primary: var(--cpd-color-theme-bg);
    /* text color on components solid bg colors
      text color in tooltip 
      /** better to keep this consistent with the theme bg unless you'd choose a darker bg, then you can giving this a lighter color value */

    --cpd-color-text-badge-info: var(--cpd-color-blue-1100);

    --cpd-color-bg-subtle-primary: var(--cpd-color-gray-400);
        /* roomlist seperators
        hover bg pill/button icons roomlist
        pressed state inside spotlight search inside roomlist
        bottom border search bar in spotlight search inside roomlist
        hover bg icons in room header
        dropdown menu highlight in quicksettings and search dialog
        bg icon hover right panel
        poll bg amount (when nothing is chosen)
        emoji selector hover bg
        button audio message send */

    --cpd-color-bg-subtle-secondary: var(--cpd-color-gray-300);
        /* bg color selected tab in settings
        seperators inside roomlist
        chain reply background
        room list button bg color in rest
        message action bar hover icon
        bg audio message bar
        video/call outer bg */

    --cpd-color-bg-canvas-default: var(--cpd-color-theme-bg);
    /* overall bg color */

    --cpd-color-bg-canvas-disabled: var(--cfg-gray-light); /* bg disabled toggle (off) */
    --cpd-color-bg-action-primary-rest: var(--cfg-green-700); /* (accessible) button rest */
    --cpd-color-bg-action-primary-hovered: var(--cfg-blue-700); /* (accessible) button hover */
    --cpd-color-bg-action-primary-pressed: var(--cfg-green-1000); /* (accessible) button pressed */

    --cpd-color-bg-action-primary-disabled: hsla(123, 15%, 75%, 0.683);

    --cpd-color-bg-action-secondary-rest: var(--cpd-color-theme-bg);
    /* list item bg color in rest in right panel
        list item bg color in rest in room options context menu
        list item bg color in rest in new conversation context menu
        list item bg color in rest in space context menu
        */

    --cpd-color-bg-action-secondary-hovered: var(--cpd-color-alpha-gray-200);
    /* hover overlay for almost everything:
    almost all context menus */

    --cpd-color-bg-action-secondary-pressed: var(--cpd-color-alpha-gray-300);
    /* selected room in roomlist view
    list item color when pressed */

    --cpd-color-bg-action-tertiary-rest: var(--cpd-color-theme-bg);
    /* isn't used for anything, I mean I didn't find anything ... */
    --cpd-color-bg-action-tertiary-hovered: var(--cpd-color-gray-300);
    /* isn't used for anything, I mean I didn't find anything ... */
    --cpd-color-bg-action-tertiary-selected: var(--cpd-color-gray-400);
    /* isn't used for anything, I mean I didn't find anything ... */

    --cpd-color-bg-critical-primary: var(--schedule-red); /* (accessible) button critical */
    --cpd-color-bg-critical-hovered: var(--cpd-color-red-1000);

    --cpd-color-bg-critical-subtle: var(--cpd-color-red-200);
    --cpd-color-bg-critical-subtle-hovered: var(--cpd-color-red-300);

    /*********/
    --cpd-color-bg-success-subtle: var(--cpd-color-green-200);
    --cpd-color-bg-info-subtle: var(--cpd-color-blue-200);
    /** test these, didn't find their use **/

    --cpd-color-bg-accent-rest: var(--cfg-green-500);
    /*  enabled toggle bg color
        selected radio button (small ones) in settings
        checked checkbox bg color */

    --cpd-color-bg-accent-hovered: var(--cfg-green-600);
    /* bg of the ui component highlights when hovered over an enabled toggle, big selected radio button, checked checkbox */

    --cpd-color-bg-accent-pressed: var(--cpd-color-green-1100);

    --cpd-color-bg-accent-selected: var(--cpd-color-alpha-green-300);

    --cpd-color-border-disabled: var(--cfg-gray); /* bg disabled toggle (off), message action bar border */

    /* --cpd-color-border-focused: var(--cpd-color-blue-900); */
    --cpd-color-border-focused: var(--cfg-blue-600);
    /* border around display name field in settings */

    --cpd-color-border-interactive-primary: var(--cfg-green-600);
    --cpd-color-border-interactive-secondary: var(--cpd-color-blue-700);
    --cpd-color-border-interactive-hovered: var(--cfg-green-800);

    --cpd-color-border-critical-primary: var(--cpd-color-red-900);
    --cpd-color-border-critical-hovered: var(--cpd-color-red-1000);

    --cpd-color-border-critical-subtle: var(--cpd-color-red-500);
    /* used in Button.module.css for critical button border */

    --cpd-color-border-success-subtle: var(--cpd-color-green-500);
    --cpd-color-border-info-subtle: var(--cpd-color-blue-700);
    --cpd-color-border-accent-subtle: var(--cpd-color-green-700);

    --cpd-color-icon-primary: var(--cfg-green-700); 
          /** icon fill in rest state:
          explore button in roomlist
          cancel button in settings
          poll icon inside roomview
          amount bar for poll options chosen 
          checked icon for poll option
          icons in more menu in message action bar
          icons in new conversation menu
          fill color for icons info panel(right)
          threads notification
          + icon in extentions menu (info panel)
          export + import icon in encryption tab in settings
          invite icon in member list (rightpanel)
          share icon profile panel (right)
          icons in more menu in pinned menu (right panel)
          icons in profile menu (pressing on avator in left panel)
          space menu icons in roomlist (chosen space)



          /** icon fill in hover state:
          icons in roomlist (also icons that appear next to room name)
          icons in message action bar
          compose message panel icons
          room header icons
          icons in creating new space menu
          search icon in right info panel
          close + back icon in right panel
          tab icons in room settings
          more icon in pinned menu (right panel)
          play, pause icon in audio message
          arrow icon next space name in roomlist
          tab icons in space settings
          */

    --cpd-color-icon-secondary: var(--cfg-green-500);
          /** icon fill in rest state:
          disabled toggle ball
          search icon roomlist
          search icon info panel
          message action bar icons
          close + back icon in right panel
          tab icons in room settings
          close button in settings
          pinned icon in roomview (not the top one)
          tab icons in space settings
          notification badge in space panel
          jump to button badge
          key icon in encryption sub menu (set up recovery) */

    --cpd-color-icon-tertiary: var(--cfg-blue-700);
          /** icon fill in rest state:
          roomlist icons
          proceed icon in info menu (right panel)
          new conversation icon + more icon in roomlist (next to home)
          threads icon in roomview + in threads panel
          encryption failure icon next to message
          compose message panel icons
          play, pause icon in audio message
          error text in message compose panel
          message sent icon
          jump to latest message button border + icon
          arrow icon next space name in roomlist
          more icon next other sessions in settings (sessions tab)
          video icon for video rooms
          dismiss icon below jump to latest message button
          offline indicator in roomlist view */

    --cpd-color-icon-quaternary: var(--cfg-green-500); /* /** icon fill in rest state:
          away/unavailable indicator in roomlist view
          /** icon fill in hover state:
          when hovering over radio icon in context menu opened by the more icon next to home in roomlist or in appearance section in settings
          when hovering over check box icon appears
          */

    --cpd-color-icon-disabled: var(--cpd-color-gray-700);

    --cpd-color-icon-primary-alpha: var(--cpd-color-alpha-gray-1400);
    --cpd-color-icon-secondary-alpha: var(--cpd-color-alpha-gray-900);
    --cpd-color-icon-tertiary-alpha: var(--cpd-color-alpha-gray-800);
    --cpd-color-icon-quaternary-alpha: var(--cpd-color-alpha-gray-700);

    --cpd-color-icon-accent-tertiary: var(--cfg-blue-800); 
        /* message compose send button bg color
        poll option that won amount bar color
        trophy cup next to poll option that won
        checked mark of poll option that won
        weird check mark that appears on top of jump to latest message button
        */

    --cpd-color-icon-accent-primary: var(--cfg-green-600);
    /* fill color for chosen active icons in roomheader 
    fill color for indicator next to pinned message (top)
    check icon when inviting someone into a room
    @ sign in room list item view when mentioned
    online indicator in roomlist view */

    --cpd-color-icon-critical-primary: var(--schedule-red);

    --cpd-color-icon-success-primary: --schedule-royal-purple;
    /* unread icon (marked unread) in roomlist
    unread message badge on top of threads icon inside event tile*/

    --cpd-color-icon-info-primary: var(--cfg-blue-500);
    /* public icon on room avater icon in roomlist
    icon indicating no end-2-end encryption in message composer
    public icon in room header next to room name */

    --cpd-color-icon-on-solid-primary: var(--cpd-color-theme-bg);
    /* white dot inside radio button
    enabled toggle ball
    check mark inside check box
    key icon in set up recovery button in Encryption in settings
    icon in 'copy link' button
    icon in send button in message composer
    most icons on solid bg */

    /* avatar letter colors */
    --cpd-color-text-decorative-1: var(--schedule-deep-teal);
    --cpd-color-text-decorative-2: var(--schedule-blue);
    --cpd-color-text-decorative-3: var(--schedule-red);
    --cpd-color-text-decorative-4: var(--schedule-navy-blue);
    --cpd-color-text-decorative-5: var(--schedule-blood-red);
    --cpd-color-text-decorative-6: var(--schedule-royal-purple);
    /* avatar bg colors */
    --cpd-color-bg-decorative-1: var(--schedule-deep-teal-lighter);
    --cpd-color-bg-decorative-2: var(--schedule-blue-lighter);
    --cpd-color-bg-decorative-3: var(--schedule-red-lighter);
    --cpd-color-bg-decorative-4: var(--schedule-navy-blue-lighter);
    --cpd-color-bg-decorative-5: var(--schedule-blood-red-lighter);
    --cpd-color-bg-decorative-6: var(--schedule-royal-purple-lighter);

    --cpd-color-gradient-subtle-stop1: var(--cpd-color-alpha-green-500);
    --cpd-color-gradient-subtle-stop2: var(--cpd-color-alpha-green-400);
    --cpd-color-gradient-subtle-stop3: var(--cpd-color-alpha-green-300);
    --cpd-color-gradient-subtle-stop4: var(--cpd-color-alpha-green-200);
    --cpd-color-gradient-subtle-stop5: var(--cpd-color-alpha-green-100);
    --cpd-color-gradient-subtle-stop6: var(--cpd-color-transparent);
    --cpd-color-gradient-info-stop1: var(--cpd-color-alpha-blue-500);
    --cpd-color-gradient-info-stop2: var(--cpd-color-alpha-blue-400);
    --cpd-color-gradient-info-stop3: var(--cpd-color-alpha-blue-300);
    --cpd-color-gradient-info-stop4: var(--cpd-color-alpha-blue-200);
    --cpd-color-gradient-info-stop5: var(--cpd-color-alpha-blue-100);
    --cpd-color-gradient-info-stop6: var(--cpd-color-transparent);
    --cpd-color-gradient-subtle-linear: linear-gradient(
        180deg,
        var(--cpd-color-gradient-subtle-stop1) 0%,
        var(--cpd-color-gradient-subtle-stop2) 20%,
        var(--cpd-color-gradient-subtle-stop3) 40%,
        var(--cpd-color-gradient-subtle-stop4) 60%,
        var(--cpd-color-gradient-subtle-stop5) 80%,
        var(--cpd-color-gradient-subtle-stop6) 100%
    );
    --cpd-color-gradient-info-linear: linear-gradient(
        180deg,
        var(--cpd-color-gradient-info-stop1) 0%,
        var(--cpd-color-gradient-info-stop2) 20%,
        var(--cpd-color-gradient-info-stop3) 40%,
        var(--cpd-color-gradient-info-stop4) 60%,
        var(--cpd-color-gradient-info-stop5) 80%,
        var(--cpd-color-gradient-info-stop6) 100%
    );
}