:root {
    /*** VanTosh brand colors and derivatives ***/

    /* orange */
    $vt-orange: hsl(32, 100%, 50%);
    $vt-orange-light: hsl(32, 100%, 67%);
    $vt-orange-lighter: hsl(32, 100%, 88%);
    $vt-orange-lightest: hsl(32, 100%, 96%);
    $vt-orange-dark: hsl(32, 100%, 45%);
    $vt-orange-darker: hsl(32, 100%, 40%);
    
    $vt-orange-alt: hsl(36, 100%, 48%);
    $vt-orange-alt-2: hsl(36, 100%, 55%);

    /* dark */
    $element-dark: hsl(210, 21%, 7%);

    /* black (inverted white) */
    $black: hsl(0, 0%, 0%);
    $smoke-black: hsl(0, 0%, 1%);
    $grey-black: hsl(0, 0%, 5%);

    /* white */
    $white: hsl(0, 0%, 100%);
    $smoke-white: hsl(0, 0%, 99%);
    $grey-white: hsl(0, 0%, 95%);

    /* grey */
    $section-grey: hsl(0, 0%, 98%);
    $fade-grey: hsl(0, 0%, 93%);
    $border-grey: hsl(0, 0%, 80%);
    $placeholder: hsl(0, 0%, 81%);
    $muted-grey: hsl(0, 0%, 60%);
    $basaltic-grey: hsl(0, 0%, 53%);
    $logo-border-grey: hsl(0, 0%, 33%);
    $footer-grey: hsl(0, 0%, 20%);

    /* blue-grey */
    $light-blue-grey: hsl(216, 26%, 68%);
    $light-grey: hsl(202, 33%, 95%);
    $title-grey: hsl(200, 2%, 67%);
    $medium-grey: hsl(228, 2%, 41%);
    $blue-grey: hsl(216, 17%, 32%);
    $dark-grey: hsl(217, 26%, 27%);

    /* miscelaneous */
    $accent: hsl(166, 100%, 47%);
    $mint: hsl(163, 100%, 53%);
    $frost: hsl(208, 100%, 29%);
    $purple: hsl(270, 100%, 50%);
    $pinky: hsl(312, 100%, 50%);
    $bloody: hsl(353, 97%, 60%);
    /*miscelaneous light - pastel */
    $accent-light: hsl(166, 100%, 67%);
    $mint-light:   hsl(163, 100%, 73%);
    $frost-light:  hsl(208, 100%, 49%);
    $purple-light: hsl(270, 100%, 70%);
    $pinky-light:  hsl(312, 100%, 70%);
    $bloody-light: hsl(353, 97%, 80%);
    /* miscelaneous lighter - pastel */
    $accent-lighter: hsl(166, 100%, 88%);
    $mint-lighter:   hsl(163, 100%, 92%);
    $frost-lighter:  hsl(208, 100%, 72%);
    $purple-lighter: hsl(270, 100%, 88%);
    $pinky-lighter:  hsl(312, 100%, 88%);
    $bloody-lighter: hsl(353, 97%, 92%);
    /* miscelaneous almost white */
    $accent-lightest: hsl(166, 100%, 96%);
    $mint-lightest:   hsl(163, 100%, 97%);
    $frost-lightest:  hsl(208, 100%, 94%);
    $purple-lightest: hsl(270, 100%, 96%);
    $pinky-lightest:  hsl(312, 100%, 96%);
    $bloody-lightest: hsl(353, 97%, 97%);

    /* green color scale */
        --cfg-green-100: hsl(118.1, 100%, 96.3%);
        --cfg-green-200: hsl(118.1, 100%, 94.3%);
        --cfg-green-300: hsl(122.4, 77.8%, 78.8%);
        --cfg-green-400: hsl(123.2, 46%, 69.8%);
        --cfg-green-500: hsl(124.1, 38%, 59.6%);
        --cfg-green-600: hsl(123.5, 31.9%, 50.2%);
        --cfg-green-700: hsl(124.4, 40.7%, 40.2%); /* core green */
        --cfg-green-800: hsl(125, 55%, 32%);
        --cfg-green-900: hsl(126, 70%, 24%);
        --cfg-green-1000: hsl(127, 85%, 17%);
        --cfg-green-1100: hsl(128, 95%, 11%);
        --cfg-green-1200: hsl(129, 100%, 7%);
        --cfg-green-1300: hsl(130, 100%, 4%);
        --cfg-green-1400: hsl(131, 100%, 2.5%);

    /* blue color scale */
        --cfg-blue-100: hsl(214, 100%, 97.6%);
        --cfg-blue-200: hsl(214, 100%, 96.9%);
        --cfg-blue-300: hsl(214.3, 100%, 88.2%);
        --cfg-blue-400: hsl(213.8, 100%, 78.4%);
        --cfg-blue-500: hsl(214.1, 82.1%, 69.2%);
        --cfg-blue-600: hsl(213.6, 59.6%, 58.8%);
        --cfg-blue-700: hsl(213.7, 50.6%, 49%); /* core blue */
        --cfg-blue-800: hsl(212, 70%, 38%);
        --cfg-blue-900: hsl(211, 85%, 28%);
        --cfg-blue-1000: hsl(210, 95%, 20%);
        --cfg-blue-1100: hsl(209, 100%, 14%);
        --cfg-blue-1200: hsl(208, 100%, 9%);
        --cfg-blue-1300: hsl(207, 100%, 5%);
        --cfg-blue-1400: hsl(206, 100%, 3%);


    
        /*** VanTosh web colors and derivatives ***/

}


/* :root {
  --accent: hsl(33, 100%, 50%);
  --accent-color: hsl(307, 100%, 50%);
  --primary-color: hsl(30, 100%, 37%);
  --warning-color: hsl(1, 82%, 60%);
  --sidebar-color: hsl(0, 0%, 98%);
  --roomlist-background-color: hsl(0, 0%, 94%);
  --roomlist-text-color: hsl(0, 0%, 100%);
  --roomlist-text-secondary-color: hsl(0, 0%, 73%);
  --roomlist-highlights-color: hsla(28, 100%, 97%, 0.918);
  --roomlist-separator-color: hsl(0, 0%, 85%);
  --timeline-background-color: hsla(0, 0%, 98%, 0.984);
  --timeline-text-color: hsl(0, 0%, 13%);
  --primary-content: hsl(45, 100%, 49%);
  --secondary-content: hsl(32, 100%, 48%);
  --tertiary-content: hsl(28, 100%, 66%);
  --quaternary-content: hsla(32, 100%, 48%, 0.369);
  --quinary-content: hsl(0, 0%, 85%);
  --timeline-text-secondary-color: hsl(30, 100%, 37%);
  --timeline-highlights-color: hsl(0, 0%, 94%);
  --reaction-row-button-selected-bg-color: hsl(0, 0%, 91%);
  --system: hsl(28, 100%, 97%);
  --menu-selected-color: hsla(27, 86%, 71%, 0.984);
  --status-away: hsl(0, 0%, 7%);
  --togglesw-off-color: hsl(0, 0%, 88%);
  --accent-fg-color: hsl(185, 100%, 50%);
  --background: hsl(59, 100%, 50%);
  --other-user-pill-bg-color: hsla(30, 100%, 81%, 0.984);
  --links: hsl(205, 100%, 45%);
  --icon-button-color: hsl(0, 0%, 73%);
  --primary-fg-color: hsl(176, 100%, 63%);
  --button-fg-color: hsl(0, 0%, 7%);
  --event-timestamp-color: hsl(0, 0%, 7%);
  --eventbubble-others-bg: hsl(0, 0%, 91%);
  --eventbubble-selected-bg: hsl(28, 100%, 77%);
  --eventbubble-self-bg: hsl(31, 100%, 85%);
  --accent-alt: hsl(259, 36%, 65%);
  --tooltip-timeline-bg-color: hsl(33, 100%, 50%);

  --avatar-background-colors: hsl(33, 100%, 50%);
  --username-colors: hsl(352, 36%, 65%);
} */
